


h1, h2, h3 {
  color: #2d2d2d;
}

body img {
  max-width: 50%;
  padding-left: 140px;
}

ul, ol {
  padding-left: 20px;
  margin-bottom: 20px;
}

strong {
  font-weight: bold;
}

footer {
  margin-top: 40px;
  text-align: center;
  font-size: 14px;
}

a {
  color: #007b7d;
  text-decoration: none;
}
h5{
  color: rgb(177, 230, 18);
  background-color: rgb(249, 249, 197);
  text-align: center;
  border-top: 1px solid gold;
}
main {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
main img{
  width: 100%;
}
header{
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
